.app-\!-float-left, .app-\!-float-left--not-narrow {
  float: left;
}

.app-\!-float-right, .app-\!-float-right--not-narrow {
  float: right;
}

.app-\!-float-left--not-narrow, .app-\!-float-right--not-narrow {
  @include govuk-media-query(mobile, tablet) {
    float: none;
  }
}

.app-\!-float-left, .app-\!-float-right, .app-\!-float-left--not-narrow, .app-\!-float-right--not-narrow {
  @include govuk-clearfix;
}

.app-util-center {
  display: inline-block;
  margin: 0 auto;
}
