.app-\!-float {
  &-left, &-left--not-narrow {
    float: left;
  }
  &-right, &-right--not-narrow {
    float: right;
  }
  &-left,  &-right  {
    &--not-narrow {
      @include govuk-media-query(mobile, tablet) {
        float: none;
      }
    }
  }
  &-left, &-left--not-narrow,  &-right, &-right--not-narrow  {
    @include govuk-clearfix;
  }
}

.app-util-center {
  display: inline-block;
  margin: 0 auto;
}
