.app-table {
  box-sizing: border-box;
  width: 100%;

  th, td {
    vertical-align: top;
  }

  td p, th p {
    margin-top: 0;
    margin-bottom: 5px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &.app-alternate-rows-table {
    tr:nth-child(even) {
      background-color: govuk-colour("grey-4");
    }
    th, td {
      padding: govuk-em(govuk-spacing(2), 19px) govuk-em(govuk-spacing(4), 19px) !important;
    }
  }

  &.app-table--split-rows {

    thead tr {
      border-bottom: 2px solid govuk-colour("black");
    }

    th, td {
      padding: govuk-em(govuk-spacing(2), 19px) govuk-em(govuk-spacing(4), 19px) govuk-em(govuk-spacing(2), 19px) 0;
      border-bottom: 1px solid $govuk-border-colour;
      text-align: left;

      &:last-child {
        text-align: right;
      }

      &:only-child {
        text-align: left;
      }
    }

    th {
      @include govuk-typography-weight-bold();
    }

    tbody tr:last-child {
      border: 0;

      td, th {
        border-bottom: 0;
      }
    }
  }

  &.app-table--row-counting {

    counter-reset: rowNumber;

    tbody {
      counter-reset: rowNumber;
    }

    tr {
      counter-increment: rowNumber;

      th:first-child, td:first-child {
        padding-left: 2em;
      }

      td:first-child::before {
        display: inline-block;
        content: counter(rowNumber) ".";
        min-width: 2em;
        margin-left: -2em;
      }
    }
  }
}