.app-warning-text {
  @include govuk-responsive-padding(4, all);
  color: govuk-colour("black");

  &--interrupt {
    background: govuk-tint(govuk-colour("light-blue"), 85);
  }

  &--critical {
    background: govuk-colour("red");
  }
}
