$hmcts-assets-path: "/assets/";
$govuk-page-width: 1200px;
$hmcts-page-width: $govuk-page-width;

@import "~govuk-frontend/all";
@import "~@hmcts/frontend/all";
@import "~@mojdigital/pattern-library/all";

//===============================================
// Overrides
//===============================================

.govuk-phase-banner__content__tag {
  background: govuk-colour("red");
}

//===============================================
// App specific styles
//===============================================

.app-offender-header {
  width: calc(100% - 205px);
}

.app-offender-selection {
  width: calc(100% - 102px);
}

.app-offender-image {
  margin-right: 10px;
}
