.app-card {

  display: block;
  background: govuk-tint(govuk-colour("light-blue"), 85);
  padding: 20px;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 -1px 0 0 $govuk-link-colour;

  &__secondary {
    background: govuk-colour("dark-grey");
    box-shadow: inset 0 -1px 0 0 govuk-colour("dark-grey");

    &.app-card--muted {
      background: govuk-colour("light-grey");
    }
  }

  &__primary {
    background: $govuk-brand-colour;
    box-shadow: inset 0 -1px 0 0 $govuk-brand-colour;
  }
}
