.app-\!-display-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @include govuk-media-query($until: tablet) {
    flex-direction: column;
  }

  &--1 {
    flex: 1;
  }
}
