abbr {
  text-decoration: none;
}

.app-\!-text-align-center {
  text-align: center;
}

.app-\!-text-align-right {
  text-align: right;
}

.app-calendar--link {
  text-decoration: none;
}

.app-hint-s {
  @extend .govuk-hint;
  font-size: 14px;
}

.app-\!-color-red {
  color: govuk-colour("red");
}

.app-\!-color-green {
  color: govuk-colour("green");
}

.app-\!-color-white {
  color: govuk-colour("white");

  &.govuk-link {
    color: govuk-colour("white");

    &:hover {
      color: govuk-colour("mid-grey") !important;
    }

    &:visited {
      color: govuk-colour("white");
    }
  }
}

.app-link--dark {
  color: $moj-dark-colour;

  &:visited, &:link {
    color: $moj-dark-colour;
  }

  &:hover {
    color: $govuk-link-colour;
  }
}
